header { 
    background-color: orange;
}

a.home {
    width: 70%;
    display: inline-block;
    margin-left: 10%;
    font-size: 200%;
    color: white;
}

main h1 {
    text-align:center;
}

a.login {
    width:10px;
    font-size: 150%;
    color: white;
}

#login {
    width: 700px;
}
footer { 
    background-color: orange;
    text-align: center;
}
footer small {
    color: white;
}
