header { 
    background-color: orange;
}

a.home {
    width: 70%;
    display: inline-block;
    margin-left: 10%;
    font-size: 200%;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center; 
}

a.login {
    width:10px;
    font-size: 150%;
    color: white;
}

footer { 
    background-color: orange;
    text-align: center;
}

footer p {
    color: white;
}
