header { 
    background-color: orange;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

a.home {
    width: 50%;
    display: inline-block;
    margin-left: 10%;
    font-size: 200%;
    color: white;
}

a.sign-up {
    width:20%;
    font-size: 150%;
    color: white;
}

a.home {
    width: 50%;
    display: inline-block;
    margin-left: 10%;
    font-size: 200%;
    color: white;
}

main {
    border-width: 1px;
    border-style: solid;
    border-color: orange;
    text-align: center;
    width: 50%;
    margin: 5% 25% 7% 25%;
}

.page-title {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

#email {
    border: none;
    outline: none;
    border-bottom: 1px solid;
    margin: 8% 8%;
    padding-left: 8% 8%;
}

#password {
    border: none;
    outline: none;
    border-bottom: 1px solid;
    margin: 8% 8%;
    padding-left: 8% 8%;
}

#submit {
    text-align: center;
    width: 40%;
    margin: 10% 30%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: orange;
    border-width: 1px;
    color: white;
}

footer { 
    background-color: orange;
    text-align: center;
}

footer p {
    color: white;
}
