header { 
    background-color: orange;
}

a.home {
    width: 70%;
    display: inline-block;
    margin-left: 10%;
    font-size: 200%;
    color: white;
}

main {
    text-align: center;
    width: 50%;
    margin: 5% 25% 3% 25%;
}

.page-title {
    text-align: center;
}

ol {
    border-width: 1px;
    border-style: solid;
}

.list {
    list-style-position: inside;
    color: gray;
}

li {
    background-color: orange;
    margin: 10% 5% 10% 15%;
    width: 60%;
}

.list span {
    color: white;
    padding-left: 15px;
}

.pagination {
    width: 30px;
    height: 25px;
    border-radius: 50%;
    background-color: orange;
    color: white;
    margin: 0 45%;
}

footer { 
    background-color: orange;
    text-align: center;
}

footer p {
    color: white;
}
